@font-face {
    font-family: 'Montserrat';
    font-display: swap;
    src: local('MontserratRegular'), local('Montserrat-Regular'),
        url('../fonts/montserrat-v15-latin_cyrillic-regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;   
}
@font-face {
    font-family: 'Montserrat';
    font-display: swap;
    src: local('MontserratSemibold'), local('Montserrat-Semibold'),
        url('../fonts/montserrat-v15-latin_cyrillic-600.woff2') format('woff2'); 
    font-style: normal;
    font-weight: 600;  
}
@font-face {
    font-family: 'Montserrat';
    font-display: swap;
    src: local('MontserratBold'), local('Montserrat-Bold'),
        url('../fonts/montserrat-v15-latin_cyrillic-700.woff2') format('woff2'); 
    font-style: normal;
    font-weight: 700;  
}
@font-face {
    font-family: 'Montserrat';
    font-display: swap;
    src: local('MontserratExtrabold'), local('Montserrat-Extrabold'),
    url('../fonts/montserrat-v15-latin_cyrillic-800.woff2') format('woff2');
    font-style: normal;
    font-weight: 800;    
}
@font-face {
    font-family: 'Montserrat';
    font-display: swap;
    src: local('MontserratRegular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v15-latin_cyrillic-regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;   
}
@font-face {
    font-family: 'Montserrat';
    font-display: swap;
    src: local('MontserratSemibold'), local('Montserrat-Semibold'),
        url('../fonts/montserrat-v15-latin_cyrillic-600.woff') format('woff');
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: 'Montserrat';
    font-display: swap;
    src: local('MontserratBold'), local('Montserrat-Bold'),
        url('../fonts/montserrat-v15-latin_cyrillic-700.woff') format('woff');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'Montserrat';
    font-display: swap;
    src: local('MontserratExtrabold'), local('Montserrat-Extrabold'),
    url('../fonts/montserrat-v15-latin_cyrillic-800.woff') format('woff');
    font-style: normal;
    font-weight: 800;    
}
* {
    box-sizing: border-box;
}
*:focus{
    outline: none;
}
:root {
    --text-color: #333333;
    --body-background: #E5E5E5;
    --yellow: #FF9900;
    --gray: #CACACA;
    --white: white;
    --input-color: #414141;
    --footer-background: #222222;
    --swiper-theme-color: #ffffff;
    --active-color: #E1670E;
}
a {
    text-decoration: none;
    color: var(--text-color)
}
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
html, body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 32px;
    color: var(--text-color)
}
.container {
    margin: 0px auto 100px;    
    padding: 0px 75px;
    max-width:1920px; 
}
img {
    max-width: 100%;
    height: 100%;
}
h1, h2, h3, p {
    margin: 0;
    padding: 0;
}
.btn-reset {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}
.btn-burger {
    display: none;
    height: 23px;
    width: 30px;      
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;  
}
.btn {
    display: inline-block;
    padding: 27px 35px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1;
    color: var(--white);
    background-color: var(--yellow);    
    border: 1px solid var(--yellow); 
    cursor: pointer;  
}
.btn:hover{
    background-color: var(--yellow);
    opacity: 0.8;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}
.btn:active {
    background-color: var(--active-color);
    opacity: 1;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}
.title {    
    margin: 1px 0px 23px 2px;
    font-weight: normal;
    font-size: 48px;
    line-height: 58px;
}
.menu {
    display: none;
}

/* Header */
.header-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 75px 0px;
    height: 100px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}
.nav-item {
    margin-right: 87px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}
.search {
    position: absolute;
    top: 40%;
    right: 0;
    margin-right: 87px;
    width: 25px;
    height: 25px;
}

.nav-item:hover {
    padding-bottom: 5px;
    border-bottom: 2px solid var(--yellow);
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.nav-item:active {
    color: var(--active-color);
    border-bottom-color: var(--active-color);
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.search:hover svg rect {
    fill: var(--yellow);
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}
.search:hover svg circle {
    stroke: var(--yellow);
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}
.search:active svg rect {
    fill: var(--active-color);
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}
.search:active svg circle {
    stroke: var(--active-color);
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.btn-burger:focus svg rect {
    fill: var(--yellow);
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.btn-burger:focus svg rect:nth-child(2) {
    width: 22px;
}
.btn-burger:focus svg rect:nth-child(3) {
    width: 13px;
}

.btn-burger:active svg rect {
    fill: var(--active-color);
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.btn-burger:active svg rect:nth-child(2) {
    width: 22px;
}
.btn-burger:active svg rect:nth-child(3) {
    width: 13px;
}
/* Hero */
.section-hero {
    height: 620px;
}
.section-hero-container {
    position: relative;
}
.swiper-container {
    position: absolute;
    top: -100px;
    left: 0px;
    z-index: 1;
    height: 620px;
    width: 100%;;
}
.swiper-wrapper {
    max-width: 1770px;
}
.swiper-slide {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    object-fit: cover;
}
.swiper-pagination-bullet {
    width: 15px;
    margin: 0 20px !important;
    height: 15px;
    background: var(--white);
    opacity: 0.4;
}
.swiper-pagination-bullet-active {
    opacity: 1;
}
.content-container {
    position: absolute;
    z-index: 2;
    top: 6px;
    left: 4.4%;
    width: 50%;
}
.title-hero {
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 70px;
    line-height: 85px;
    color: var(--white);
}
.text-hero {
    margin-bottom: 98px;
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    color: var(--white);
}
/* About-us */
.section-about-us-text {
    width: 69.5%;
    margin-bottom: 45px;
}
.orangeI {
    margin: 5px 1px 0px 5px;
}
.boxes {
    display: flex;
    justify-content: space-between;
}
.box-man {
    position: relative;
    padding: 25% 0px 0px;
    flex-basis: 49.2%;
    background-image: url(../img/Rectangle_2__1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.box-man-text {
    padding: 39px 310px 40px 54px;
    font-weight: 700;
    color: var(--white);
    background-color: rgba(0,0,0,0.5);
}
.btn-man {
    position: absolute;
    bottom: 10%;
    right: 8%;
    padding: 19px 35px; 
    background-color: transparent;
    border-width: 3px;
    font-size: 16px;
}
.two-boxes {
    flex-basis: 49.2%
}
.box {
    padding: 7.5% 0 7.5% 34.3%;
    border: 1px solid var(--gray);
}
.box-cube {
    margin-bottom: 3.5%;
    background-image: url(../img/cube.svg);
    background-repeat: no-repeat;
    background-position: 9% 45%;
}
.box-title {
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;    
}
.box-text {
    width: 80%;
}
.box-gear {
    background-image: url(../img/gear.svg);
    background-repeat: no-repeat;
    background-position: 9% 38%;
}
/* How-We-Work */
.how-we-work-title {
    margin: -1px -2px 45px;
}
.how-links-item {
    font-size: 18px;
    line-height: 22px;
}
.how-links-item:not(:last-child) {
    margin-right: 85px;
}
.tab-content {
    display: none;
    margin-top: 2.2%;
    margin-left: 1px;
    justify-content: space-between;
}
.tab-content-active {
    display: flex;
}
.tab-box{
    flex-basis: 43%;
}
.bold-title {
    font-weight: 700;
    font-size: 24px;
}
.how-we-work-text {
    margin-top: 2px;
    margin-bottom: 8%;
}
.btn-how-first {
    margin-right: 3.5%;
    padding: 22px 37px;
    font-size: 16px;
    line-height: 1;
}
.btn-how-secong {
    padding: 20px 36px;
    font-size: 16px;
    line-height: 1;
    background-color: transparent;
    border-color: black;
    color: black;
}
.btn-how-secong:hover {
    background-color: #666666;
    color: var(--white);
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}
.btn-how-secong:active {
    background-color: #000000;
    color: var(--white);
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;    
}
.how-we-work-pic {
    margin-top: 12px;
    flex-basis: 45%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.item-active {
    color: var(--yellow);
}
.how-links-item:hover {
    color: var(--yellow);
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}
.how-links-item:active {
    color: var(--active-color);
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}
/* FAQ */
.FAQ {
    margin-top: -11px;
}
.accordion {
    margin-top: 38px;
}
.ui-state-default {
    background-color: transparent;
    border: none;
    border-top: 1px solid var(--gray);
    border-bottom: 1px solid var(--gray);
}
.ui-accordion .ui-accordion-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;    
    align-items: center;
    margin-top: -1px;
    padding: 40px 3px 36px 6px;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
}
.ui-state-active .ui-icon, .ui-state-default .ui-icon {
    margin-top: -15px;
    width: 50px;
    height: 50px;
    background-color: #ececec;
    border-radius: 100%;
}
.ui-state-active {
    color: inherit;
    border-bottom: none;
}
.ui-icon-triangle-1-e {
    background-image: url(../img/x.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30px 30px;
    overflow: visible;
    transform: rotate(0deg);
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}
.ui-state-active .ui-icon, .ui-button:active .ui-icon, .ui-state-focus .ui-icon {
    background-image: url(../img/x.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30px 30px;
    overflow: visible;
}
.ui-icon-triangle-1-s {
    transform: rotate(-45deg);
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}
.ui-accordion .ui-accordion-header:hover {
    color: var(--yellow);
    border-color: var(--yellow);
    border-bottom: 0.5px solid var(--yellow);
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}
.ui-accordion .ui-accordion-header:hover .ui-icon {
    background-color: #D2D2D2;
    background-image: url(../img/x.svg);
}
.ui-widget-content {
    border-left: none;
    border-right: none;
}
.faq-text {
    width: 50%;
}

/* Footer */
footer {
    margin-top: -10px;
}
.footer {
    padding-top: 6px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 48px 75px 70px;
    background-color: var(--footer-background);
    margin-bottom: -100px;
}
.footer-left {
    flex-basis: 16%;
    margin-right: 85px;
}
.footer-logo {
    width: 224px;
    height: 72px;
}
.footer-logo-pic {
    width: inherit;
    height: inherit;
}
.footer-nav {
    margin-bottom: 107px;
}
.footer-links {
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    color: var(--gray);
}
.contact-logo:not(:last-child) {
    margin-right: 20px;
}
.footer-center {
    flex-basis: 35%;
    padding: 8px 0px 0px 20px;
}
.footer-title {
    color: var(--gray);
}
.footer-input {
    margin: 0px 0px 25px 5px;
    padding: 15px 25px;
    width: 95%;
    height: 60px;
    background-color: var(--input-color);
    border: none;
}
textarea {
    height: 150px !important;
}
.footer-btn {
    margin: -5px 0px 0px 6px;
    padding: 21px 51px;
    font-size: 16px;
    line-height: 1;
}
.check-box {
    display: inline-block;
}
.footer-check {
    margin: 10px 0px 0px 18px;
}
label {
    white-space: nowrap;
    color: var(--gray);
}
.footer-right {
    flex-basis: 21%;
    padding: 78px 0px 0px 10px;
}
.footer-text {
    color: var(--gray);
}

@media (max-width: 1366px) {
    .container {
        margin: 0px auto 58px;    
        padding: 0px 50px;
        max-width:1024px; 
    }
    .btn {
        padding: 27px 38px;
    }
    .title {    
        margin: 0px 0px 26px -3px;
    }
    /* Header */
    .header-container {
        padding: 0px 50px 0px;
    }
    .logo {
        margin: 0px auto 0px auto;
        padding-right: 30px;
        width: 180px;
        height: 48px;
    }    
    .search {
        right: 4.8%;
        margin-right: 0px;
    }
    .menu {
        display: block;
        position: absolute;
        z-index: 5;
        top: 100%;
        left: 5%;
        width: 300px;
        background-color: var(--yellow);
        transition: transform .3s ease-in-out;
        transform: translateX(-150%);
    }
    .menu-list {
        margin: 25px;
        font-weight: 600;
        font-size: 20px;
        text-align: center;               
    }
    .menu-list a {
        color: var(--white); 
    }
    .menu.is-active {
        transform: none;
    }
    .header-nav{
        display: none;
    }
    .btn-burger {
        display: inline-block;
        margin-right: 0px;
        margin-left: 0px;
    }    
        /* Hero */
    .section-hero {
        height: 669px;
    }
    .swiper-container {
        top: -59px;
        height: 670px;
    }
    .swiper-pagination {
        display: none;
    }
    .content-container {
        top: 102px;
        left: 4.8%;
        width: 80%;
    }
    .title-hero {
        margin-bottom: 10px;
        font-size: 60px;
        line-height:73px;
    }
    .text-hero {
        margin-bottom: 110px;
        font-size: 20px;
        line-height: 24px;
    }
    
    /* About-us */
    .section-about-us-text {
        width: 100%;
        margin-bottom: 60px;
    }
    .orangeI {
        margin: 5px 0px 0px 0px;
    }
    .boxes {
        flex-direction: column;
    }
    .box-man {
        margin-bottom: 5.3%;
        padding: 50.2% 0px 0px;
        flex-basis: fill;
    }
    .box-man-text {
        padding: 40px 380px 40px 44px;
    }
    .btn-man {
        bottom: 9%;
        right: 5.5%;
        padding: 19px 35px; 
    }
    .two-boxes {
        flex-basis: 100%
    }
    .box {
        padding: 7.2% 0 7% 37.7%;
    }
    .box-cube {
        margin-bottom: 4.1%;
        background-position: 15% 48%;
    }
    .box-gear {
        background-position: 15% 45%;
    }
    /* How-We-Work */
    .how-we-work-title {
        margin: 1px 0px 45px -6px;
    }
    .tab-content {
        margin-top: 4.3%;
    }
    .tab-box{
        flex-basis: 46%;
    }
    .how-we-work-text {
        margin-top: 4px;
        margin-bottom: 6.5%;
    }
    .btn-how-first {
        margin-right: 5.6%;
        padding: 22px 37px;
    }
    .btn-how-secong {
        padding: 20px 36px;
    }   
    .pic-box {
        flex-basis: 47.5%;
    }
    .how-we-work-pic {
        width: inherit;
        height: 98%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    /* FAQ */
    .FAQ {
        margin-top: -5px;
    }
    .ui-accordion .ui-accordion-header {   
        padding: 40px 0px 36px 2px;
        font-size: 20px;
        line-height: 32px;
    }
    .ui-accordion .ui-accordion-header:nth-child(3) .faq-head {
        margin:-7px 0px -8px;
        width: 70%; 
    }
    .ui-accordion .ui-accordion-header:nth-child(5) .faq-head {
        margin:-10px 0px -9px;
        width: 70%;
    }
    .ui-accordion .ui-accordion-header:nth-child(7) .faq-head {
        margin:-10px 0px -9px;
        width: 75%; 
    }
    .ui-accordion .ui-accordion-header:nth-child(9) .faq-head {
        width: 70%;
    }
    .faq-text {
        width: 100%;
    }

    /* Footer */
    .footer {
        margin-top: -6px;
        padding-top: 0px;
    }
    .footer-container {
        padding: 48px 50px 70px;
        margin-bottom: -58px;
    }
    .footer-left {
        flex-basis: 30%;
        margin-right: 0px;
    }
    
    .footer-center {
        flex-basis: 58.5%;
        padding: 10px 0px;
    }
    .footer-input {
        width: 99%;
    }
    .footer-title {
        margin-left: 4px;
    }
    .footer-btn {
        margin: -7px 0px 0px 5px;
        padding: 21px 38px;
    }
    .footer-check {
        margin: 10px 0px 0px 10px;
    }
    .footer-right {
        display: none;
    }
}

@media (max-width: 768px) {
    .container {
        margin: 0px auto 58px;    
        padding: 0px 50px;
        max-width:768px; 
    }
    .menu {
        left: 6.5%;
    }
    .btn {
        padding: 27px 38px;
    }
    .title {    
        margin: 0px 0px 26px -3px;
    }
    /* Header */
    .header-container {
        padding: 0px 50px 0px;
        height: 69px;
    }
    .btn-burger {
        margin: -5px 0px 0px -2px;
    }
    .logo {
        margin: -2px auto 0px auto;
    }    
    .search {
        top: 30%;
        right: 6.4%;
        margin-right: 0px;
    }
        /* Hero */
    .section-hero {
        height: 700px;
    }
    .swiper-container {
        top: -58px;
        left: -50px;
        height: 700px;
        width: 115%;
    }
    .content-container {
        top: 133px;
        left: 0;
        width: 105%;
    }    
    /* About-us */    
    .box-man {
        margin-bottom: 6%;
        padding: 71.5% 0px 0px;
    }
    .box-man-text {
        padding: 23px 240px 27px 30px;
        line-height: 30px;
    }
    .btn-man {
        bottom: 8.5%;
        right: 4.5%;
        padding: 19px 35px; 
    }
    .box {
        padding: 5.6% 5% 5% 26.5%;
    }
    .box-text{
        width: 100%;
    }
    .box-cube {
        margin-bottom: 6%;
        background-position: 5.3% 52%;
        background-size: 18%;
    }
    .box-gear {
        background-position: 6% 50%;
        background-size: 17.2%;
    }
    /* How-We-Work */
    .how-we-work-title {
        margin: 1px 0px 45px -6px;
    }
    .how-links-item:not(:last-child) {
        margin-right: 151px;
    }
    .tab-content {
        flex-direction: column-reverse;
    }
    .tab-box{
        flex-basis: fill;
    }
    .how-we-work-text {
        margin-bottom: 4%;
    }
    .btn-how-first {
        margin-right: 4%;
        padding: 22px 37px;
    }
    .btn-how-secong {
        padding: 20px 36px;
    }   
    .pic-box {
        flex-basis: fill;
        margin-bottom: 27px;
        height: 284px;
    }
    .how-we-work-pic {
        width: 100%;
        height: inherit;
    }
    /* FAQ */
    .FAQ {
        margin-top: 0px;
    }
    .faq-title {
        margin-left: 0px;
        font-size: 45px;
    }
    .ui-accordion .ui-accordion-header {   
        padding: 31px 0px 29px 4px;
        font-size: 22px;
    }    
    .ui-state-active .ui-icon, .ui-state-default .ui-icon {
        margin-top: -1px;
    }
    .faq-head{
        display: inline-block;
        width: 90%;
        line-height: 32px;
    }
    .ui-accordion .ui-accordion-header:nth-child(3) .faq-head {
        margin: 3px 0px 0px 0px;
        width: 80%;
    }
    .ui-accordion .ui-accordion-header:nth-child(5) .faq-head {
        margin: 0px 0px 0px 0px;
        width: 70%;
    }
    .ui-accordion .ui-accordion-header:nth-child(7) .faq-head {
        margin: 0px 0px 0px 0px;
        width: 80%;
    }
    .ui-accordion .ui-accordion-header:nth-child(9) .faq-head {
        margin: 0px 0px 0px 0px;
        width: 70%;
    }

    /* Footer */
    .footer {
        margin-top: 0px;
        padding-top: 0px;
    }
    .footer-container {
        flex-direction: column-reverse;
        padding: 50px 44px 70px;
        margin-bottom: -58px;
    }
    .footer-left {
        flex-basis: 30%;
        width: 40%;
        margin: 48px 0px 0px 5px;
    }
    .footer-nav {
        display: none;
    }
    .contact-logo:not(:last-child) {
        margin-right: 20px;
    }
    .contact-logo svg {
        margin-top: 5px;
    }
    .footer-center {
        flex-basis:fill;
        width: 80%;
        padding: 10px 0px;
    }
    .footer-title {
        margin: 0px 0px 20px 4px;
    }
    .footer-btn {
        margin: -5px 0px 0px 5px;
        padding: 21px 38px;
    }
}

@media (max-width: 576px) {
    body {
        font-size: 14px;
        line-height: 28px;
    }
    .container {
        margin: 0px auto 39px;    
        padding: 0px 15px;
        max-width:320px; 
    }
    
    .btn {
        padding: 14px 27px;
        font-size: 12px;
    }
    .title {    
        font-size: 24px;
        line-height: 30px;
        margin: 0px 0px 0px 0px;
    }
    /* Header */
    .header-container {
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 0px 15px 0px;
        height: 45px;
    }
    .menu {
        display: none;
        top: 100%;
        right: 0%;
    }
    .menu.is-active {
        display: block;
    }
    .btn-burger {
        margin: 0px -2px 0px 0px;
        transform: scale(-1, 1)
    }
    .btn-burger svg {
        width: 25px;
        height: 19px;
    }
    .logo {
        margin: 0;
        padding: 0;
        width: 97px;
        height: 31px;
    }    
    .search {
        display: none;
    }
        /* Hero */
    .section-hero {
        height: 262px;
    }
    .swiper-container {
        top: -38px;
        left: 0px;
        height: 260px;
        width: 100%;
    }
    .content-container {
        top: -7px;
        left: 0;
        width: 100%;
    }  
    .title-hero {
        margin-bottom: 7px;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
    }
    .text-hero {
        margin-left: 13px;
        margin-bottom: 35px;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        width: 90%;
    }  
    .hero-btn {
        margin-left: 65px;
    }
    /* About-us */ 
    .section-about-us-text{
        margin-bottom: 12px;
    }   
    .box-man {
        margin-bottom: 20%;
        padding: 70% 0px 0px;
        background-size: 100% 53%;
        background-position: 0 0;
    }
    .box-man-text {
        padding: 4px 0px 27px 0px;
        background-color: transparent;
        color: inherit;
        line-height: inherit;
        font-weight: normal;
    }
    .btn-man {
        bottom: -7%;
        left: 0;
        padding: 12px 41px; 
        color: var(--yellow);
    }
    .box {
        padding: 23.7% 0% 5% 0%;
        border: none;
    }
    .box-title {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
    }
    .box-cube {
        margin-bottom: 2%;
        background-position: 0 3%;
        background-size: 22.5%;
    }
    .box-gear {
        background-position: 0 0;
        background-size: 22.3%;
    }
    /* How-We-Work */
    .how-we-work-title {
        margin: -8px 0px 28px 0px;
    }
    .how-links-item {
        font-size: 14px;
        line-height: 17px;
    }
    .how-links-item:not(:last-child) {
        margin-right: 40px;
    }
    .tab-content {
        margin-top: 0;
    }
    .bold-title {
        font-weight: 600;
        font-size: 18px;
        line-height: 32px;
    }
    .how-we-work-text {
        margin-top: -2px;
        margin-bottom: 7.2%;
    }
    .btn-how-first {
        margin-right: 2.6%;
        padding: 13px 42px;
    }
    .btn-how-secong {
        padding: 13px 30px;
    }   
    .pic-box {
        margin-bottom: -2px;
        height: 160px;
    }
    /* FAQ */
    .FAQ {
        margin-top: 0px;
    }
    .faq-title {
        margin-left: 0px;
        font-size: 24px;
    }
    .accordion {
        margin-top: 13px;
    }
    .ui-state-active .ui-icon, .ui-state-default .ui-icon {
        margin-top: 0px;
        width: 30px;
        height: 30px;
    }
    .ui-icon-triangle-1-e {        
        background-size: 18px 18px;
    }
    .ui-accordion .ui-accordion-header {   
        padding: 30px 0px 30px 2px;
        font-size: 14px;
        line-height: 24px;
        font-weight: 500;
    }   
    .ui-accordion .ui-accordion-header:nth-child(3) .faq-head {
        margin: 0px 0px 0px 0px;
        width: 70%;
    }
    .ui-accordion .ui-accordion-header:nth-child(5) .faq-head {
        margin: 0px 0px 0px 0px;
        width: 70%;
    }
    .ui-accordion .ui-accordion-header:nth-child(7) .faq-head {
        margin: 0px 0px 0px 0px;
        width: 70%;
    }
    .ui-accordion .ui-accordion-header:nth-child(9) .faq-head {
        margin: 0px 0px 0px 0px;
        width: 70%;
    }
    .faq-head{
        width: 80%;
        line-height: inherit;
        margin: 0;
    }
    /* Footer */
    .footer-container {
        padding: 30px 15px 24px;
        margin-bottom: -58px;
    }
    .footer-left {
        flex-basis: 30%;
        width: 45%;
        margin: 22px 0px 0px 80px;
    }
    .footer-logo {
        width: 131px;
        height: 42px;
    }
    .footer-logo-pic {
        margin: 0px;
        width: 131px;
        height: 42px
    }
    .contact-logo:not(:last-child) {
        margin-right: 9px;
    }
    .contact-logo svg {
        margin-top: 7px;
        width: 35px;
        height: 35px;
    }
    .footer-center {
        position: relative;
        flex-basis:100%;
        width: 100%;
        padding: 10px 0px 27px;
        border-bottom: 1px solid #595959;        
    }
    .footer-input {
        margin: 0px 0px 25px 0px;
        padding: 10px 20px;
        width: 290px;
    }
    .footer-title {
        margin: 0px 0px 20px;
    }
    textarea {
        margin: 0px 0px 15px !important;
    }
    .footer-check {
        margin: 20px 0px 0px 5px;
    }
    label {
        position: absolute;
        top: 90.5%;
        left: 8%;
        font-size: 16px;
        white-space: nowrap;
        line-height: 1;
    }
    .footer-btn {
        margin: 0px 50px 0px 55px;
        padding: 13px 27px;
        white-space: nowrap;
    }
}
