// ПЕРЕМЕННЫЕ
// ЦВЕТА
$white: #ffffff;
$orange: #ff6e30;
$black: #202020;
$description: #999999;
$text: #cacaca;
$frame__hastag: #333333;
$grey: #4a4a4a;
$yellow: #fff500;
$input: #e9e9e9;
$dark__grey: #666666;

$hover: #ff6e30;
$focus: #bc572b;
$focus__white: #ffd4c1;
$active: #ce4307;
// ЦВЕТА
// ШРИФТЫ
$ffam: "Roboto";
$ffam__main: "TTFirsNeue";
// ШРИФТЫ
// ПЕРЕМЕННЫЕ
